*{
    padding: 0;
    margin: 0;
}
.CONTAINER{
    background-color: aquamarine;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.CONTAINER hr{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#vegetableSaladImage{
    padding-bottom: 20px;

}
#benefits{
    margin-bottom: 20px;
}
#benefitsParagraph{
    margin-bottom: 20px;
}
#steps{
    margin-bottom: 20px;
}
